<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text Analyzer.<br>
    <h4>Enter your text below.</h4></h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; height: 127px; width: 879px;' spellcheck="false"></textarea>
        <br><input type="checkbox" name="removepunc"> Remove Punctuatuations <br>
            <input type="checkbox" name="fullcaps"> FULLCAPS <br>
            <input type="checkbox" name="newremoveline"> New Line Remover <br>
            <input type="checkbox" name="extraspaceremover"> Remove Extra Spaces <br>
        <button type='Submit'>Analyze text</button>

</form>
</body>
</html>